@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
}

.resume {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.resume-header {
  margin-bottom: 2rem;
}

.resume-title {
  font-size: 2.5rem;
  text-align: start;
  margin-bottom: 0.5rem;
}

.section-title {
  font-size: 1.8rem;
  border-bottom: 2px dashed #c4c4c4;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.resume-sub-title {
  font-size: 1.3rem;
}

.resume-section {
  margin-bottom: 2rem;

}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.personal-info div {
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
}

.icon::before {
  font-size: 1.2rem;
}

.icon.github::before {
  content: "\1F4BB";
  /* 노트북 이모지 */
}

.icon.blog::before {
  content: "\1F4DD";
  /* 메모 이모지 */
}

.icon.email::before {
  content: "\2709";
  /* 봉투 이모지 */
}

.icon.phone::before {
  content: "\1F4DE";
  /* 전화기 이모지 */
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.experience-item {
  display: flex;
  margin-bottom: 2rem;
}

.tag-red {
  background-color: brown;
  font-size: 12px;
  height: 20px;
  width: 50px;
  text-align: center;
  color: antiquewhite;
  border-radius: 5px;
  font-weight: 500;
}

.company-info {
  flex: 1;
  padding-right: 1rem;
}

.company-info h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.company-info a {
  color: #666666;
  text-decoration: underline;
  font-size: 0.9rem;
}

.company-info p {
  margin: 0.2rem 0;
  font-size: 0.9rem;
  color: #666666;
}

.job-description {
  flex: 2;
}


.project-img {
  width: 50px;
}


.highlight {
  font-weight: lighter;
  color: #666666;
  margin-bottom: 0.5rem;
}

.tech-list {
  display: flex;
  width: 100%;
}

.tech-item {
  flex-shrink: 0;
  background-color: cadetblue;
  padding: 1px 4px;
  margin-right: 3px;
  font-size: 12px;
  border-radius: 3px;
  font-weight: bold;
}

.project-docs {
  width: 80%;
  border: 1px #eee solid;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0px;
  border-radius: 0.3rem;
}

.notion-icon {
  margin-right: 1rem;
}
.job-description ul {
  list-style-type: disc;
  padding-left: 1.2rem;
  margin-top: 0.5rem;
}

.job-description li {
  margin-bottom: 0.3rem;
}

.side-section {
  margin-top: 20px;
}

.side-section-title {
  font-weight: 600
}

.badge {
  background-color: #f0f0f0;
  color: #333333;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .experience-item {
    flex-direction: column;
  }

  .company-info {
    margin-bottom: 1rem;
  }
}

.date {
  font-style: italic;
  color: #666;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}